body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    color: rgb(36, 37, 39);
    background-image: url(https://img.freepik.com/photos-gratuite/garcon-regardant-lune-dans-nuit_1340-38945.jpg?w=1380&t=st=1690891969~exp=1690892569~hmac=09b41ead8b5a50c7bc98618541f8e08e8706181b18a0d48feba8703f740ea589);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#conte {
    width: 70%;
    height: 100%;
    margin: 3% 15% 0 15%;
    border-radius: 20px;
    background-color: rgba(0, 247, 255, 0.20);
}

.pp-img {
    height: 150px;
    border-radius: 100%;
    margin: 5px;
    border: 2px solid rgba(0, 0, 0, 0.438);
}

header {
    margin-left: 5%;
}

.p {
    margin-left: 15%;
}

.conteneur-acceuil {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "un quatre"
    "deux quatre"
    "trois quatre";
    padding: 10px 0 0 200px;
}

.un {
    grid-area: un;
}

.deux {
    grid-area: deux;
}

.trois {
    grid-area: trois;
}

.quatre {
    grid-area: quatre;
    display: flex;
    justify-content: center;
}

fieldset {
    border-color: #333;
    border-radius: 15px;
    margin: 0;
}

tr {
    vertical-align: top;
}

table {
    width: 100%;
    margin-left: 15%;
    border-collapse: collapse;
}

.colone1 {
    width: 200px;
}
