
body {
    margin: 0;
    padding: 0;
    background-color: #333;
    color: aliceblue;
}

#conte {
    border: 1px solid red;
    width: 100%;
    margin: 0 15% 0 15%;
}

.madiv {
    height: 500px;
    border: 10px ridge rgb(162, 255, 0);
    margin: 10%;
    border-radius: 20px;
}

.men {
    border: 5px ridge rgb(0, 217, 255);
    border-radius: 10px;
}

.men:hover {
    background-color: rgba(0, 238, 255, 0.39);
}

li {
    display: inline-block;
    margin: 0px 10px;
    color: aliceblue;
}

li:hover {
    background-color: rgba(240, 248, 255, 0.733);
    color: #333;
}

.pp {
    border: 2px solid greenyellow;
    width: 50%;
    height: 200px;
}

.pp-img {
    float: right;
    height: 150px;
}